$borderColor: blue;
// $animationDuration: 30s;
$animationDuration: 6.3s;
$triangleEdge: 40vh;
$squareRootOf3: 1.73205;
$triangleHeight: calc(#{$triangleEdge / 2} * #{$squareRootOf3});
$spinnerContainerHeight: (($triangleEdge * $squareRootOf3) / 3) * 2;

$container-angle: -60deg;

$circle-1-angle: 60deg;
$circle-2-angle: 60deg;
$circle-3-angle: 60deg;

@keyframes rotateTriangle {
    //CYCLE 1
    0% {
        transform: rotate(0);
    }
    10%{
        background-color: transparent;
    }
    100% {
        transform: rotate(360deg);
    }
}
//circle bound to center the triangle
.spinner-container{
    position: absolute;
    right: 0;
    top: calc(50% - #{$spinnerContainerHeight / 2});

    display: flex;
}
.circleBound{
    position: relative;
    right: 0;

    width: (($triangleEdge * $squareRootOf3) / 3) * 2;
    height: (($triangleEdge * $squareRootOf3) / 3) * 2;
    border-radius: 999px;

    will-change: transform;
    animation-name: rotateTriangle;
    animation-duration: $animationDuration;
    animation-direction: normal;
    // animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.75);
}
.innerCircle{
    height: 100%;
    width: 100%;
    border-radius: 999px;
    border: 2px solid $borderColor;
    // transform: rotate(75deg);
}
.triangle-wrapper{
    width: $triangleEdge;
    height: $triangleHeight;
    position: relative;
    top: 100px;
    left: 100px;

    position: absolute;
    top: 0;
    left: calc(50% - #{$triangleEdge / 2});
}
$circleHeight: 7vmax;
$circleRadius: $circleHeight / 2;
$circleBorder: 3px;

.circle{
    height: $circleHeight;
    width: $circleHeight;
    min-height: 70px;
    min-width: 70px;
    border-radius: 999px;
    background-color: white;
    // background-color: rgb(183, 183, 255);
    border: $circleBorder solid $borderColor;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    outline: 2px solid transparent;
    img{
        height: 80%;
        width: 80%;
    }
}
.circle-1{
    bottom: 0 - $circleRadius;
    left: 0 - $circleRadius;
}
.circle-2{
    top: 0 - $circleRadius;
    left: calc(50% - #{ $circleRadius});
}
.circle-3{
    bottom: 0 - $circleRadius;
    right: 0 - $circleRadius;
}
.circle{
    animation-duration: $animationDuration;
    animation-direction: normal;
    // animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.circle, .circleBound{
    animation-iteration-count: infinite;
}
.spinner-container{
    // transform: rotate(-60deg);
}
@keyframes rotateIcon-pos1{
    // 0%{
    //     transform: rotate($circle-1-angle);
    // }
    // 100%{
    //     transform: rotate(#{$circle-1-angle - 360deg});
    // }
    
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
    
}
.circle-1{
    animation-name: rotateIcon-pos1;
}
@keyframes rotateIcon-pos2{
    0%{
        transform: rotate($circle-2-angle);
    }
    100%{
        transform: rotate(#{$circle-2-angle - 360deg});
    }
}
.circle-2{
    animation-name: rotateIcon-pos1;
}
@keyframes rotateIcon-pos3{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-330deg);
    }
    // 0%{
    //     transform: rotate($circle-3-angle);
    // }
    // 100%{
    //     transform: rotate(#{$circle-3-angle - 360deg});
    // }
}
.circle-3{
    animation-name: rotateIcon-pos1;
}

$circleAfterLineHeight: 24px;
@mixin  circleAfter {
    // content: "CIRCLE";
    position: absolute;
    top: calc(50% - #{$circleAfterLineHeight / 2});
    left: -150%;
    font-size: 24px;
    line-height: 24px;
    display: none;
}
.circle:before{
    content: '•';
    position: absolute;
    top: -23px;
    left: 44%;
    color: red;
    font-size: 24px;
}
.circle-inner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
@keyframes circle-inner-after{
    0%{
        top: 75%;
        opacity: 0;
    }
    11.11%{
        top: calc(50% - 12px);
        opacity: 0.75;
    }
    22.22%{
        top: calc(50% - 12px);
        opacity: 0.75;
    }
    33.33%{
        // top: -200%;
        // top: calc(50% - #{$circleAfterLineHeight / 2});
        opacity: 0;
    }
    100%{
        // top: -200%;
        opacity: 0;
    }
}
@mixin  circleAfterAnim{
    animation-name: circle-inner-after;
    animation-duration: $animationDuration;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.circle-inner_1:after{
    content:"IMAGINE";
    @include circleAfter();
    @include circleAfterAnim();
    animation-delay: ($animationDuration / 3) * 0;
}
.circle-inner_2:after{
    content:"CODE";
    @include circleAfter();
    @include circleAfterAnim();
    animation-delay: ($animationDuration / 3) * 2;
}
.circle-inner_3:after{
    content:"PLAN";
    @include circleAfter();
    @include circleAfterAnim();
    animation-delay: ($animationDuration / 3) * 1;
}

    .spinner-container{
        transform: rotate($container-angle);
    }
    .circle-inner_1{
        transform: rotate(60deg);
    }
    .circle-inner_2{
        transform: rotate($circle-2-angle);
    }
    .circle-inner_3{
        transform: rotate($circle-3-angle);    
    }

//LABELS ------------------------------------------------------
$labelHeight: 30px;
.circle-label-wrapper{
    display: flex;
    position: absolute;
    flex: 1 1;
    justify-content: flex-end;
    font-size: $labelHeight;
    width: 120px;
    margin-right: 20px;
    height: $labelHeight;
    align-items: center;
    right: 100%;
}
.circle-label{
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: $labelHeight;
    opacity: 0;
    // opacity: 0;

    animation-name: labelFade;
    animation-duration: $animationDuration;
    animation-direction: normal;
    animation-iteration-count: infinite;
    // animation-timing-function: ease-in-out;
}
@keyframes labelFade {
        0%{
        opacity: 0;
    }
        10%{
        opacity: 0;
    }
        30%{
        opacity: 1;
    }
        50%{
        opacity: 0;
    }
        100%{
        opacity: 0;
    }
  }

.circle-label_1{
    animation-delay: ($animationDuration / 3) * 0;
}
.circle-label_2{
    animation-delay: ($animationDuration / 3) * 2;
}
.circle-label_3{
    animation-delay: ($animationDuration / 3) * 1;
}

@media only screen and (max-width: 720px){
    .spinner-container{
        right: -45vw;
        top: 30vh;
    }
}