$borderColor: blue;
// $animationDuration: 30s;
$animationDuration: 6.3s;

$circleBoundRadius: 80%;

$squareRootOf3: 1.73205;
$triangleEdge: (3 * 50%) / $squareRootOf3;
$triangleHeight: ($triangleEdge * $squareRootOf3) / 2;
// $triangleHeight: calc(#{$triangleEdge / 2} * #{$squareRootOf3});

$container-angle: -60deg;

// $circleWidth: $triangleEdge / 4;
// $circleHeight: ($triangleEdge * 50 * $squareRootOf3) / 100;
$circleHeight: 70px;
$circleWidth: 70px;
$circleRadius: $circleHeight / 2;
$circleBorder: 3px;

$circle-1-angle: 60deg;
$circle-2-angle: 150deg;
$circle-3-angle: -60deg;

@keyframes rotateTriangle {
    //CYCLE 1
    0% {
        transform: rotate(0);
        // background-color: lime;
    }
    10%{
        // background: transparent;
    }
    100% {
        transform: rotate(360deg);
    }
}
//circle bound to center the triangle
.spinner-container{
    position: relative;
    margin-left: 180px;
    margin-right: $circleHeight / 2;
    width: 100%;
    max-width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-container:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circleBound{
    position: absolute;
    right: 0;

    width: $circleBoundRadius;
    height: $circleBoundRadius;
    border-radius: 999px;

    will-change: transform;
    animation-name: rotateTriangle;
    animation-duration: $animationDuration;
    animation-direction: normal;
    animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.75);
}
.innerCircle{
    height: 100%;
    width: 100%;
    border-radius: 999px;
    border: 2px solid $borderColor;
    transform: rotate($container-angle);
}
.triangle-wrapper{
    width: $triangleEdge;
    height: $triangleHeight;
    position: relative;
    top: 100px;
    left: 100px;

    position: absolute;
    top: 0;
    left: calc(50% - #{$triangleEdge / 2});
}

.circle{
    height: $circleHeight;
    width: $circleWidth;
    // min-height: 70px;
    // min-width: 70px;
    border-radius: 999px;
    background-color: white;
    border: $circleBorder solid $borderColor;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    outline: 2px solid transparent;
    box-sizing: content-box;
    img{
        height: 80%;
        width: 80%;
    }
}
.circle-1{
    bottom: -$circleRadius;
    left: -$circleRadius;
}
.circle-2{
    top: -$circleRadius;
    left: calc(50% - #{$circleRadius});
}
.circle-3{
    bottom: -$circleRadius;
    right: -$circleRadius;
}
.circle{
    animation-duration: $animationDuration;
    animation-direction: normal;
    animation-timing-function: linear;
}
.circle, .circleBound{
    animation-iteration-count: infinite;
}
@keyframes rotateIcon-pos1{
    0%{
        transform: rotate($circle-1-angle);
    }
    100%{
        transform: rotate(#{$circle-1-angle - 360deg});
    }
}
.circle-1{
    animation-name: rotateIcon-pos1;
}
@keyframes rotateIcon-pos2{
    0%{
        transform: rotate($circle-2-angle);
    }
    100%{
        transform: rotate(#{$circle-2-angle - 360deg});
    }
}
.circle-2{
    animation-name: rotateIcon-pos2;
}
@keyframes rotateIcon-pos3{
    0%{
        transform: rotate($circle-3-angle);
    }
    100%{
        transform: rotate(#{$circle-3-angle - 360deg});
    }
}
.circle-3{
    animation-name: rotateIcon-pos3;
}


// @mixin circleAfter{
//     position: absolute;
//     content: "";
//     height: $triangleEdge;
//     width: 2px;
//     background-color: lime;
//     bottom: $circleHeight / 2;
// }
// @mixin innerCircleAfter{
//     position: absolute;
//     content: "";
//     height: $triangleEdge;
//     width: 2px;
//     background-color: black;
//     top: calc(#{($circleHeight / 2) - $triangleEdge} + #{$circleBorder * 2});
// }
.circle:before{
    content: '•';
    position: absolute;
    // top: -23px;
    bottom: -23px;
    left: 44%;
    color: red;
    font-size: 24px;
    z-index: 999;
}
.circle-inner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
//circle bound to center the triangle
.circle-inner_1{
    // transform: rotate(60deg);
    transform: rotate(0deg);
}
.circle-inner_2{
    // transform: rotate(60deg);
    transform: rotate(-90deg);
}
.circle-inner_3{
    transform: rotate(120deg);
    // transform: rotate(60deg);    
}

.triangle-edge{
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 999px;
    position: absolute;
    // bottom: -15px;

    transform-origin: top;
    z-index: 999;
    display: none;
}
.circle-1 .triangle-edge{
    transform: rotate(0deg);
}
// .spinner-container{
//     transform: rotate($container-angle);
// }

//LABELS ------------------------------------------------------
$labelHeight: 30px;
.circle-label-wrapper{
    display: flex;
    position: absolute;
    flex: 1 1;
    justify-content: flex-start;
    font-size: $labelHeight;
    width: 120px;
    // margin-right: 20px;
    margin: 0 20px;
    height: $labelHeight;
    align-items: center;
    // left: 100%;
    right: 100%;
}
.circle-label{
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: $labelHeight;
    opacity: 0;
    // opacity: 0;

    animation-name: labelFade;
    animation-duration: $animationDuration;
    animation-direction: normal;
    animation-iteration-count: infinite;
    // animation-timing-function: ease-in-out;
}
@keyframes labelFade {
        0%{
        opacity: 0;
    }
        10%{
        opacity: 0;
    }
        30%{
        opacity: 1;
    }
        50%{
        opacity: 0;
    }
        100%{
        opacity: 0;
    }
  }

.circle-label_1{
    animation-delay: ($animationDuration / 3) * 0;
}
.circle-label_2{
    animation-delay: ($animationDuration / 3) * 2;
}
.circle-label_3{
    animation-delay: ($animationDuration / 3) * 1;
}
.anim-pause{
    animation-play-state: paused;
}
@media only screen and (max-width: 720px){
    .circleBound{
        right: unset;
        left: 180px;;
    }

    // .circle-label-wrapper{
    //     left: 100%;
    //     right: unset;
    // }
    // .circle-label{
    //     right: unset;
    //     left: 0;
    // }

    .circle:before{
        display: none;
    }
    .kv-image{
        padding: 0;
    }
    .spinner-container{
        margin: 0;
    }
    // .spinner-container{
    //     // right: -45vw;
    //     right: -#{$circleRadius * 2};
    //     top: 28vh;
    // }
}
