@charset "UTF-8";
@-webkit-keyframes rotateTriangle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateTriangle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-container {
  position: relative;
  margin-left: 180px;
  margin-right: 35px;
  width: 100%;
  max-width: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circleBound {
  position: absolute;
  right: 0;
  width: 80%;
  height: 80%;
  border-radius: 999px;
  will-change: transform;
  -webkit-animation-name: rotateTriangle;
          animation-name: rotateTriangle;
  -webkit-animation-duration: 6.3s;
          animation-duration: 6.3s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.75);
}

.innerCircle {
  height: 100%;
  width: 100%;
  border-radius: 999px;
  border: 2px solid blue;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.triangle-wrapper {
  width: 86.60258%;
  height: 75%;
  position: relative;
  top: 100px;
  left: 100px;
  position: absolute;
  top: 0;
  left: calc(50% - 43.30129%);
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 999px;
  background-color: white;
  border: 3px solid blue;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  will-change: transform;
  outline: 2px solid transparent;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.circle img {
  height: 80%;
  width: 80%;
}

.circle-1 {
  bottom: -35px;
  left: -35px;
}

.circle-2 {
  top: -35px;
  left: calc(50% - 35px);
}

.circle-3 {
  bottom: -35px;
  right: -35px;
}

.circle {
  -webkit-animation-duration: 6.3s;
          animation-duration: 6.3s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.circle, .circleBound {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotateIcon-pos1 {
  0% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg);
  }
}

@keyframes rotateIcon-pos1 {
  0% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg);
  }
}

.circle-1 {
  -webkit-animation-name: rotateIcon-pos1;
          animation-name: rotateIcon-pos1;
}

@-webkit-keyframes rotateIcon-pos2 {
  0% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  100% {
    -webkit-transform: rotate(-210deg);
            transform: rotate(-210deg);
  }
}

@keyframes rotateIcon-pos2 {
  0% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  100% {
    -webkit-transform: rotate(-210deg);
            transform: rotate(-210deg);
  }
}

.circle-2 {
  -webkit-animation-name: rotateIcon-pos2;
          animation-name: rotateIcon-pos2;
}

@-webkit-keyframes rotateIcon-pos3 {
  0% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-420deg);
            transform: rotate(-420deg);
  }
}

@keyframes rotateIcon-pos3 {
  0% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-420deg);
            transform: rotate(-420deg);
  }
}

.circle-3 {
  -webkit-animation-name: rotateIcon-pos3;
          animation-name: rotateIcon-pos3;
}

.circle:before {
  content: '•';
  position: absolute;
  bottom: -23px;
  left: 44%;
  color: red;
  font-size: 24px;
  z-index: 999;
}

.circle-inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.circle-inner_1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.circle-inner_2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circle-inner_3 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.triangle-edge {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 999px;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 999;
  display: none;
}

.circle-1 .triangle-edge {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.circle-label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  width: 120px;
  margin: 0 20px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 100%;
}

.circle-label {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 30px;
  opacity: 0;
  -webkit-animation-name: labelFade;
          animation-name: labelFade;
  -webkit-animation-duration: 6.3s;
          animation-duration: 6.3s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes labelFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes labelFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.circle-label_1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circle-label_2 {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.circle-label_3 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.anim-pause {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@media only screen and (max-width: 720px) {
  .circleBound {
    right: unset;
    left: 180px;
  }
  .circle:before {
    display: none;
  }
  .kv-image {
    padding: 0;
  }
  .spinner-container {
    margin: 0;
  }
}
/*# sourceMappingURL=triangle.css.map */