@import '../../../css/css/consts';

.contact-form{
    padding: 15px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
    position: relative;
    border-radius: 20px;
    box-shadow: $shadow_primary;
    max-width: 80ch;
}
.contact-greeting{
    padding: 15px;
    padding-left: 0;
    margin-bottom: 15px;
    // text-transform: uppercase;
}
.contact-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.contact-label{
    text-indent: 8px;
    margin-bottom: 4px;
}
.contact-input{
    max-width: 300px;
    min-width: 150px;
    padding: 7px 15px;
    border-radius: 8px;
    border: 2px solid rgb(213, 213, 213);
    outline-style: none;
}
.contact-input_textArea{
    padding-top: 15px;
    max-width: 60ch;
    height: 15ch;
}
.contact-input:focus{
    border: 2px solid #161641;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.validation_fail{
    background-color: pink;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@media only screen and (max-width: 720px){
    .contact-form{
        margin: 15px;
    }
}