$navHeight: 60px;
$carouselBG: #1c1c23;
.webExample-container{
    height: 100%;
    max-height: calc(100vh - #{$navHeight});
    overflow: hidden;
    position: relative;
    transition: height 0.3s;
    border-bottom: 1px solid white;
}
.webExample-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
    background-color: $carouselBG;
    // grid-template-columns: minmax(480px, 60%) 1fr;
    .webExample-details-title{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .webExample-carousel-container{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .webExample-details-container{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
.webExample-hide{
    height: 50px !important;
    .webExample-details-title:after{
        content: "▼";
    }
}
.webExample-content{
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}
.webExample-carousel-container{
    background-color: $carouselBG;
    // min-width: 480px;
    min-width: 60%;
    flex: 2;
    // max-width: 60%;
    padding: 20px 40px 40px 40px;
    height: 100%;
    position: relative;
    overflow: hidden;
    // min-width: 480px !important;
}
.webExample-carousel-slides{

}
.webExample-carousel-slide{
    position: relative;
    img{
        width: 100%;
        position: absolute;
        top: 0;
    }
}
.webExample-carousel-sizeToggle{
    height: 30px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.1;
}
.webExample-carousel_fullWidth{
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transition: background-color 0.4s;
    background-color: $carouselBG;
    .slick-list{
        height: 100% !important;
    }
}
.webExample-details-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    height: 100%;
}
.webExample-details-description{
    // min-width: 35ch;
    max-width: 60ch;
    text-indent: 2ch;
}
.webExample-details-badges, .webExample-details-other{
    display: flex;
    flex-wrap: wrap;
}
.webExample-details-title{
    user-select: none;
    cursor: pointer;
    // margin-bottom: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 20px;
    position: relative;
    height: 50px;
}
// .webExample-details-title:before{
//     content:linear-gradient(to right, rgba(223,223,223,1) 0%,rgba(222,223,223,1) 1%,rgba(184,208,227,0) 40%,rgba(125,185,232,0) 100%);
//     opacity: 0.4;
//     height: 2px;
//     width: 100%;
//     position: absolute;
//     left: 0;
//     bottom: 12px;
// }
.webExample-details-title:after{
    content: "▲";
    color: white;
    position: absolute;
    right: 35px;
    top: calc(50% - 7px);
}
.webExample-details-tags{
    padding: 10px;
    margin: 20px 0;
    background-color: #dfdfdf;
    border-radius: 5px;
    max-width: 60ch;
}
.webExample-details-CTA{
    flex: 1;
    display: flex;
}
.details-CTA-button{
    background: white;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    a{
        font-weight: 600;
        background: white;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        padding: 15px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border: 4px solid blue;
        box-shadow: 0 5px 25px rgba(0, 0, 255, 0.30), 0 6px 6px rgba(255, 127, 0, 0.12);
    }
}
.details-badge{
    background-color: $carouselBG;
    height: 40px;
    // width: 50px;
    border-radius: 10px;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 5px;
    color: rgba(255, 255, 255, 0);
    padding: 7px;
    img{
        height: 100%;
    }
}
.details-badge_other{
    background-color: white;
    white-space: nowrap;
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3px;
    border: 1px solid rgb(182, 182, 182);
    padding: 0 10px;
    color: rgb(54, 54, 54);
}

// @media only screen and (max-width: 720px){
@media only screen and (max-width: 720px){
    .webExample-container{
        height: unset;
        max-height: unset;
    }
    .webExample-wrapper{
        height: unset;
    }
    .webExample-carousel-container{
        // max-height: 60vh;
        // max-width: unset;
        // min-width: unset;
        min-width: 100%;
        max-width: 100%;
        height: 60vh;
        // max-height: 60%;
        width: 100%;
    }
    .webExample-content{
        height: unset;
    }
}