.webExample-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.webExample-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  background-color: #1c1c23;
}

.webExample-wrapper .webExample-details-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.webExample-wrapper .webExample-carousel-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.webExample-wrapper .webExample-details-container {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.webExample-hide {
  height: 50px !important;
}

.webExample-content {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.webExample-carousel-container {
  background-color: #1c1c23;
  min-width: 480px;
  max-width: 60%;
  padding: 20px 40px 40px 40px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.webExample-carousel-slide {
  position: relative;
}

.webExample-carousel-slide img {
  width: 100%;
  position: absolute;
  top: 0;
}

.webExample-carousel-sizeToggle {
  height: 30px;
  width: 60px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
}

.webExample-carousel_fullWidth {
  width: 100%;
  height: 100%;
  max-height: 100% !important;
  max-width: 100% !important;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  background-color: #1c1c23;
}

.webExample-carousel_fullWidth .slick-list {
  height: 100% !important;
}

.webExample-details-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  background-color: white;
}

.webExample-details-description {
  max-width: 60ch;
  text-indent: 2ch;
}

.webExample-details-badges, .webExample-details-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.webExample-details-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 20px;
  position: relative;
  height: 50px;
}

.webExample-details-title:after {
  content: -webkit-gradient(linear, left top, right top, from(#dfdfdf), color-stop(1%, #dedfdf), color-stop(40%, rgba(184, 208, 227, 0)), to(rgba(125, 185, 232, 0)));
  content: linear-gradient(to right, #dfdfdf 0%, #dedfdf 1%, rgba(184, 208, 227, 0) 40%, rgba(125, 185, 232, 0) 100%);
  opacity: 0.4;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 12px;
}

.webExample-details-tags {
  padding: 10px;
  margin: 20px 0;
  background-color: #dfdfdf;
  border-radius: 5px;
  max-width: 60ch;
}

.webExample-details-CTA {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-CTA-button {
  padding: 5px;
  background: white;
  margin: 0 5px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  padding: 3px 12px;
}

.details-CTA-button a {
  padding: 5px;
  background: white;
  margin: 0 5px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  border: 4px solid blue;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 255, 0.3), 0 6px 6px rgba(255, 127, 0, 0.12);
          box-shadow: 0 5px 25px rgba(0, 0, 255, 0.3), 0 6px 6px rgba(255, 127, 0, 0.12);
}

.details-badge {
  background-color: #1c1c23;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  color: rgba(255, 255, 255, 0);
  padding: 7px;
}

.details-badge img {
  height: 100%;
}

.details-badge_other {
  background-color: white;
  white-space: nowrap;
  height: 30px;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px;
  border: 1px solid #b6b6b6;
  padding: 0 10px;
  color: #363636;
}

@media only screen and (max-width: 720px) {
  .webExample-container {
    height: unset;
  }
  .webExample-wrapper {
    height: unset;
  }
  .webExample-carousel-container {
    max-height: 60vh;
    max-width: unset;
    min-width: unset;
    width: 100%;
  }
}
/*# sourceMappingURL=WebsiteExample.css.map */