.WebsiteSlider_container
{
    height: 800px;
    position: relative;
    .slick-dots
    {
        bottom: -80px;
        li{
            overflow: hidden;
            height: 100px;
            width: 100px;
        }
    }
}