@import '../../../../css/css/consts';
.slick-slider, .slick-track{
    height: 100%;
    width: 100%;
    position: absolute;
}
.slick-slider{
    padding: 40px;
    padding-top: 0;
    // padding: 30px 40px 40px 40px;
    // padding: 0px 40px 40px 40px;
}
.slick-list{
    height: 100%;
    }
.slick-slide{
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
            max-height: 100%;
            width: unset !important;
            max-width: 100%;
        }
    }
}
.slick-arrow
{
    color: $accent_secondary_light;
    height: 30px;
    width: 30px;
}
.slick-next{
    right: 5px;
}
.slick-prev{
    left: 5px;
}

.slick-prev:focus, .slick-next:focus,
.slick-prev:hover, .slick-next:hover
{
    opacity: 1;
    color: $accent_secondary;
}

.slick-prev:before, .slick-next:before
{
    color: inherit;
    font-size: 30px;
    opacity: 1;
}

//DOTS style
.slick-dots {
    left: 0;
    bottom: 10px;
}
.slick-dots li{
    width: 15px;
    height: 15px;
    border-radius: 999px;
    opacity: 0.5;
    background-color: rgb(116, 116, 116);
}
.slick-dots li:hover,
.slick-dots li:focus{
    opacity: 0.8;
    background-color: $accent_secondary_light;
    border-color: $accent_secondary_light;
}
.slick-dots .slick-active{
    opacity: 1;
    background-color: $accent_secondary;
    border-color: $accent_secondary;
}
.slick-dots .slick-active:hover,
.slick-dots .slick-active:focus{
    background-color: $accent_secondary;
    border-color: $accent_secondary;
}

.slick-dots li button:before{
    display: none;
}


@media only screen and (max-width: 720px){
    .slick-list{
        min-height: 200px;
    }
    .slick-slider{
        // padding: 0px 10px 40px 10px;
        // padding: 10px 10px 40px 10px;
    }
    .slick-arrow{
        display: none !important;
    }

    .slick-dots li{
        height: 14px;
        width: 14px;
    }
    .slick-dots li button::before{
        height: 100%;
        width: 100%;
    }
}