@charset "UTF-8";
.disableBodyScroll {
  overflow: hidden;
}

.showOverflow {
  overflow: visible !important;
}

.smoothSlide {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.carousel {
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.arrowNext, .arrowPrev {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #66ffa6;
  margin: 10px;
}

.arrowNext:after {
  font-size: 30px;
  cursor: pointer;
  color: inherit;
  font-family: 'slick';
  content: '→';
  right: 0;
}

.arrowPrev:after {
  font-size: 30px;
  cursor: pointer;
  color: inherit;
  font-family: 'slick';
  content: '←';
  left: 0;
}

.arrowNext:hover, .arrowPrev:hover {
  color: #00e676;
  opacity: 1;
}

.slideContainer {
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  will-change: transform;
  overflow: hidden;
  height: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.slide {
  position: relative;
  overflow: hidden;
  will-change: transform;
  border-radius: 15px;
  border: 3px solid #1717ad;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  padding: 30px;
  margin: 0 10px;
}

.slide img {
  max-height: 100%;
  max-width: 100%;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
  z-index: 999;
}

.imgContainer {
  width: 100%;
  display: block;
}

.button_zoom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.zoomedIn {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.dotContainer {
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  height: 90px;
  padding: 0 20px;
}

.dotWrapper {
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: unset;
  height: 200%;
  padding: 0 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.dotList {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  scroll-behavior: smooth;
  height: 50%;
  width: 100%;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.dot {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  cursor: pointer;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  opacity: 0.3;
  padding: 10px 5px;
}

.dot img {
  height: 100%;
  width: auto;
  max-width: 80%;
}

.dot:last-of-type {
  margin-right: 10px;
}

.dot:hover {
  opacity: 0.8;
}

.dot_active {
  opacity: 1;
  border-radius: 15px;
  border: 3px solid #1717ad;
}

.dot_active:hover {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-height: unset;
  }
}

@media only screen and (max-width: 720px) {
  .slide {
    padding: 5px;
    padding-top: 20px;
  }
  .dotContainer {
    padding: 0 15px;
  }
  .dotWrapper {
    padding: 0;
  }
}
/*# sourceMappingURL=index.module.css.map */