@import '../../../css/css/consts';
@import '../../../css/css/cardStyles';

.disableBodyScroll{
    overflow: hidden;
}
.showOverflow{
    overflow: visible !important;
}
.smoothSlide {
	transition: transform .5s;
}
.carousel{
    width: 100%;
    display: grid;
    grid-template-rows: max-content min-content;
}
.container{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-height: calc(100vh - 50px);
    // @include card_primary;
}
@mixin arrow {
    transition: opacity 0.1s;
    display: flex;
    align-items: center;
    color: $accent_secondary_light;
    margin: 10px;
}
@mixin arrowAfter{
    font-size: 30px;
    cursor: pointer;
    color: inherit;
}
.arrowNext, .arrowPrev{
    @include arrow;
}
.arrowNext:after{
    @include arrowAfter;
    font-family: 'slick';
    content: '→';
    right: 0;
}
.arrowPrev:after{
    @include arrowAfter;
    font-family: 'slick';
    content: '←';
    left: 0;
}
.arrowNext:hover, .arrowPrev:hover{
    color: $accent_secondary;
    opacity: 1;
}
.slideContainer{
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    display: flex;
    touch-action: pan-y;
    will-change: transform;
    overflow: hidden;
    height: 100%;
}
.slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    will-change: transform;
    margin: 10px;
    margin-bottom: 15px;
    @include card_primary;
    img{
        max-height: 100%;
        max-width: 100%;
        will-change: transform;
        user-select: none;
        pointer-events: none;
        touch-action: none;
        z-index: 999;
    }
}
.imgContainer{
    width: 100%;
    display: block;
}
.button_zoom{
    position: absolute;
    bottom: 0;
    left: 0;
}
.zoomedIn{
    transform: scale(2);
}
@mixin dotContainer{
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dotContainer{
    @include dotContainer();
    border-top: $horizontal_primary;
    height: 100px;
    padding: 10px 20px;
    padding-bottom: 0;
    order: 2;
}
.dotWrapper{
    @include dotContainer();
    width: unset;
    height: 200%;
    padding: 0 10px;
    align-self: baseline;
    align-items: baseline;
}
.dotList{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    scroll-behavior: smooth;
    height: 50%;
    width: 100%;
    transition: .5s all;
}
.dot{
    flex: none;
    cursor: pointer;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    opacity: 0.3;
    padding: 10px 5px;
    img{
        height: 100%;
        width: auto;
        max-width: 80%;
    }
}
.dot:hover{
    opacity: 0.8;
}
.dot_active{
    opacity: 1;
    @include card_primary;
}
.dot_active:hover{
    opacity: 1;
}

@media only screen and (max-width: 720px){
    .container{
        max-height: unset;
    }
}