@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik' !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #f9f9f9;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  height: 50px;
  background: #1a1ad7;
  color: white;
  padding: 25px 30px;
  max-height: 50px;
}

main {
  overflow-x: hidden;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  height: calc(100% - 43px);
  scroll-behavior: smooth;
  margin-top: 43px;
}

.nav-container {
  position: fixed;
  width: 100%;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1ad7;
  -webkit-box-shadow: 0 10px 20px rgba(13, 41, 142, 0.09), 0 6px 6px rgba(9, 4, 44, 0.05);
          box-shadow: 0 10px 20px rgba(13, 41, 142, 0.09), 0 6px 6px rgba(9, 4, 44, 0.05);
  z-index: 899;
}

.nav-links-container {
  margin-right: 30px;
}

.nav-links-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links-listItem {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.9px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  margin-left: 10px;
  padding: 10px 0;
}

.nav-links-listItem:after {
  content: "";
  height: 2px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 5px;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.nav-links-listItem:hover::after {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.nav-logo {
  font-size: 20px;
  color: blue;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: white;
  font-weight: 600;
  border: 0 !important;
  margin-left: 0;
  height: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kv-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  overflow: hidden;
}

.kv-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kv-text {
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1;
}

.kv-text h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.kv-text h3 {
  margin-bottom: 30px;
  color: #5f5f5f;
}

.kv-image {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(180px, 1fr) 1fr 65px;
      grid-template-columns: minmax(180px, 1fr) 1fr 65px;
}

.CTA-contact {
  bottom: 0;
  background: white;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 99px;
  border: 4px solid #1a1ad7;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px rgba(14, 14, 14, 0.3), 0 6px 6px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 3px 10px rgba(14, 14, 14, 0.3), 0 6px 6px rgba(255, 255, 255, 0.12);
}

@-webkit-keyframes CTA-seemore {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  15% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes CTA-seemore {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  15% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.CTA-seemore {
  padding-right: 30px;
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.5;
}

.CTA-seemore-text {
  text-transform: uppercase;
  margin-bottom: 7px;
  cursor: pointer;
}

.CTA-seemore-line {
  width: 100%;
  border-bottom: 3px solid #1a1ad7;
  position: relative;
  z-index: -2;
}

.CTA-seemore-line::after {
  content: "";
  height: 12px;
  width: 12px;
  border-right: 3px solid #1a1ad7;
  border-bottom: 3px solid #1a1ad7;
  position: absolute;
  left: calc(50% - 6px);
  top: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f9f9f9;
  z-index: -1;
}

.about-container {
  min-height: calc(100% - 80px);
}

.about-wrapper {
  padding: 30px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-description {
  position: relative;
  max-width: 60ch;
}

.about-description .CTA-contact {
  position: relative;
  margin: 30px 0 10px 0;
}

.about-image-wrapper {
  position: relative;
  height: 15vw;
  width: 15vw;
  min-width: 15vw;
  min-height: 15vw;
  border-radius: 999px;
  background-color: #1a1ad7;
  float: left;
  margin-right: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-image-wrapper img {
  opacity: 0;
  height: 100%;
  width: 100%;
}

.contact-container {
  min-height: calc(100% - 80px);
}

footer {
  height: 80px;
  width: 100%;
  background: #1a1ad7;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.nav-links-hamburger {
  display: none;
}

@media only screen and (max-width: 801px) {
  .kv-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .kv-wrapper .CTA-contact {
    position: static;
    margin: 30px 0;
  }
  .kv-text {
    white-space: normal;
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding-top: 50px;
    height: 100%;
  }
  .kv-image {
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
  .CTA-seemore {
    display: none;
  }
  .nav-links-list {
    width: 70vw;
    max-width: 300px;
    height: calc(100vh - 43px);
    position: absolute;
    top: 43px;
    background-color: blue;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 8;
    right: 0;
    -webkit-transform: translateX(115%);
            transform: translateX(115%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-box-shadow: inset 0 10px 20px rgba(9, 47, 44, 0.3), 0 6px 6px rgba(9, 4, 44, 0.68);
            box-shadow: inset 0 10px 20px rgba(9, 47, 44, 0.3), 0 6px 6px rgba(9, 4, 44, 0.68);
  }
  .nav-links-container {
    margin: 0;
  }
  .nav-links-listItem {
    height: 40px;
    width: 80%;
    margin-bottom: 9vh;
    border: none;
    border-bottom: 2px solid white;
  }
  .nav-links-listItem:first-of-type {
    margin-top: 15vh;
  }
  .links-list-display {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-links-hamburger {
    display: block;
    height: 43px;
    width: 43px;
    background-color: white;
  }
  .nav-links-hamburger img {
    height: 100%;
    width: 100%;
  }
  .about-wrapper {
    display: block;
    padding: 20px;
    padding-bottom: 60px;
  }
  .about-wrapper p {
    max-width: 60ch;
    font-size: 14px;
  }
  .about-image-wrapper {
    height: 25vw;
    width: 25vw;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .nav-links-listItem:after {
    display: none;
  }
}

.webExample-tools-container {
  width: 100%;
}

.tools-wrapper, .tools-title, .tools-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.webExample-tools-wrapper {
  padding: 30px;
}

.tools-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details-badge {
  background-color: #1c1c23;
  border-radius: 10px;
  color: #cbcbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 5px 0;
  padding: 8px;
  min-width: 50px;
}

.details-badge img {
  height: 30px;
}

.details-badge span {
  white-space: nowrap;
  font-size: 12px;
  margin-top: 5px;
}

.details-badge-fullWidth {
  max-width: 80px;
  height: unset !important;
  max-height: 45px;
}

.tools-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #bdbdbd;
  padding: 15px 20px 15px 0;
}

.tools-wrapper:last-of-type {
  border-bottom: 0;
}

.tools-items {
  min-width: 70%;
}

.tools-title {
  font-weight: 600;
  padding-right: 30px;
  white-space: nowrap;
  width: 150px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 720px) {
  .details-badge {
    margin: 0 3px 3px 0;
  }
  .details-badge img {
    height: 20px;
  }
  .details-badge-fullWidth {
    height: unset !important;
    max-height: 20px;
  }
}
/*# sourceMappingURL=index.css.map */