// @import url('https://fonts.googleapis.com/css?family=Rubik+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik');
$backgroundColor: rgb(226, 233, 243);
$marginLeft: 30px;
$marginRight: 30px;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Rubik';
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background: none;
    border: none;
}
html,body,#root,.App{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background-color: $backgroundColor;
}
$accentColor: blue;
@mixin centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin squareCTA{
    padding: 5px;
    background: white;
    margin: 0 5px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 4px solid $accentColor;
    box-shadow: 0 5px 25px rgba(0, 0, 255, 0.30), 0 6px 6px rgba(255, 127, 0, 0.12);
}
$navHeight: 60px;
.App{
    // display: grid;
    // grid-template-rows: min-content 1fr min-content;
    // grid-template-columns: 100%;
}
main{
    // overflow-y: auto;
    overflow-x: hidden;
    grid-row-start: 2;
    grid-row-end: 3;
    height: calc(100vh - #{$navHeight});
    display: grid;
    grid-template-columns: [indent] 10px [content margin] 20px [content] calc(100% - 50px) [content margin] 20px;
    grid-template-rows: [kv] 100%;
    scroll-behavior: smooth;
    margin-top: $navHeight;
    section{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
.nav-container{
    position: fixed;
    width: 100%;
    height: $navHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    box-shadow: 0 10px 20px rgba(13, 42, 142, 0.19), 0 6px 6px rgba(9, 4, 44, 0.12);
    // position: absolute;
    z-index: 999;
}
.nav-links-container{
    margin-right: $marginRight;
}
.nav-links-list{
    list-style: none;
    @include centered;

}
.nav-links-listItem{
    position: relative;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.9px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $marginRight / 2;
    margin-left: 10px;
    padding: 10px 0;
}
.nav-links-listItem:after{
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 5px;
    // left: -100%;
    transform: translateX(-100%);
}
.nav-links-listItem:hover::after{
    left: 0;
    transform: translateX(0);
    transition: transform 0.1s;
    transition-timing-function: ease-out;
    // border-bottom: 2px solid white;
}
.nav-logo{
    font-size: 20px;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: white;
    font-weight: 600;
    border: 0 !important;
    margin-left: 0;
    height: 100%;
    padding: 0 $marginLeft;
    @include centered;
}
section{
    height: 100%;
}

.kv-container{
    height: 100%;
    @include centered;
    position: relative;

    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 100%;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.kv-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.kv-text{
    position: absolute;
    z-index: 1;
}
.kv-image{
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1080px;
    top: 0;
    z-index: 0;
}
.CTA-contact{
    @include squareCTA;
}
@keyframes CTA-seemore{
    0%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(4px);
    }
    30%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
.CTA-seemore{
    width: 100%;
    padding-bottom: 30px;
    @include centered;
    flex-wrap: wrap;
    opacity: 0.5;
}
.CTA-seemore-text{
    text-transform: uppercase;
    margin-bottom: 7px;
    cursor: pointer;
}
.CTA-seemore-line{
    width: 100%;
    border-bottom: 3px solid $accentColor;
    position: relative;
    z-index: -2;
}
$caretHeight: 12px;
.CTA-seemore-line::after{
    content: "";
    height: $caretHeight;
    width: $caretHeight;
    border-right: 3px solid $accentColor;
    border-bottom: 3px solid $accentColor;
    position: absolute;
    left: calc(50% - #{$caretHeight / 2});
    // top: -$caretHeight / 2;
    top: -5px;
    transform: rotate(45deg);
    background-color: $backgroundColor;
    z-index: -1;
}
.footer{
    height: 100vh;
    background: yellow;
}

@media only screen and (max-width: 480px){
    $navHeight: 40px;
    .nav-links-list{
        width: 70vw;
        max-width: 300px;
        height: calc(100vh - #{$navHeight});
        position: absolute;
        top: $navHeight;
        background-color: blue;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 8;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.2s;
        box-shadow: inset 0 10px 20px rgba(9, 47, 44, 0.3), 0 6px 6px rgba(9, 4, 44, 0.68);
    }
    .nav-links-container{
        margin-right: 0;
    }
    .nav-links-listItem{
        height: 40px;
        width: 80%;
        margin-bottom: 9vh;
        border: none;
        border-bottom: 2px solid white;
    }
    .nav-links-listItem:first-of-type{
        margin-top: 15vh;
    }
    .links-list-display{
        
        transform: translateX(0);
    }
    .nav-links-hamburger{
        display:block;
        height: $navHeight;
        width: $navHeight;
        background-color: white;
    }
}

@import 'css/tools'