// @import url('https://fonts.googleapis.com/css?family=Rubik+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import './css/cardStyles';
@import './css/kv';
@import './css/nav';
@import './css//consts';
@import 'css/tools';

$marginLeft: 30px;
$marginRight: 30px;
$headlineHeight: 50px;
$footerHeight: 80px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik' !important;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background: none;
    border: none;
}
html,body,#root,.App{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background-color: $BG_primary;
}

.headline{
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    height: $headlineHeight;
    background: $accent_primary;
    color: white;
    padding: 25px $marginLeft;
}

main{
    overflow-x: hidden;
    grid-row-start: 2;
    grid-row-end: 3;
    height: calc(100% - #{$navHeight});
    scroll-behavior: smooth;
    margin-top: $navHeight;
}

.section-wrapper{
    overflow: hidden;
    // padding: 20px 0;
    padding-bottom: 20px;
}

.CTA-contact{
    @include CTA;
}

.CTA:hover{
    background-color: $accent_secondary;
    color: white;
    top: 2px;
}

@keyframes CTA-seemore{
    0%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(4px);
    }
    30%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
.CTA-seemore{
    padding-right: 30px;
    width: 100%;
    padding-bottom: 30px;
    @include centered;
    flex-wrap: wrap;
    opacity: 0.5;
}
.CTA-seemore-text{
    text-transform: uppercase;
    margin-bottom: 7px;
    cursor: pointer;
}
.CTA-seemore-line{
    width: 100%;
    border-bottom: 3px solid $accent_primary;
    position: relative;
    z-index: -2;
}

$caretHeight: 12px;
.CTA-seemore-line::after{
    content: "";
    height: $caretHeight;
    width: $caretHeight;
    border-right: 3px solid $accent_primary;
    border-bottom: 3px solid $accent_primary;
    position: absolute;
    left: calc(50% - #{$caretHeight / 2});
    // top: -$caretHeight / 2;
    top: -5px;
    transform: rotate(45deg);
    background-color: $BG_primary;
    z-index: -1;
}
.about-container{
    min-height: calc(100% - 80px);
}
.about-wrapper{
    padding: 30px;
    padding-bottom: 60px;
    display: flex;
}
.about-description{
    position: relative;
    max-width: 60ch;
    .CTA-contact{
        position: relative;
        margin: 30px 0 10px 0;
    }
}
.about-image-wrapper{
    position: relative;
    height: 15vw;
    width: 15vw;
    min-width: 15vw;
    min-height: 15vw;
    border-radius: 999px;
    float: left;
    margin-right: 30px;
    align-self: flex-start;
    background-color: $accent_primary;
    img{
        opacity: 0;
        height: 100%;
        width: 100%;
    }
}
.contact-container{
    min-height: calc(100% - 80px);
}
footer{
    height: $footerHeight;
    width: 100%;
    background: $accent_primary;
    grid-column-start: 1;
    grid-column-end: 5;
}

@media only screen and (max-width: 720px){
    .CTA-seemore{
        display: none;
    }
    .about-wrapper{
        display: block;
        padding: 20px;
        padding-bottom: 60px;
        p{
            max-width: 60ch;
        }
    }
    .about-image-wrapper{
        height: 25vw;
        width: 25vw;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    section{
        padding: 0;
    }
}