@import url("https://fonts.googleapis.com/css?family=Rubik");
.kv-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  overflow: hidden;
}

.kv-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kv-text {
  white-space: nowrap;
  z-index: 1;
}

.kv-text h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.kv-text h3 {
  margin-bottom: 30px;
  color: #5f5f5f;
}

.kv-image {
  height: 100%;
  width: 40%;
  margin-left: 140px;
  position: relative;
  top: 0;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kv-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 801px) {
  .kv-container {
    padding: 0;
    height: unset;
    min-height: 100%;
  }
  .kv-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kv-text {
    white-space: normal;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin-top: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .kv-text h1 {
    font-size: 32px;
  }
  .kv-text h3 {
    margin-bottom: 15px;
  }
  .kv-buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kv-buttons button {
    min-width: 200px;
  }
  .kv-buttons .CTA_secondary {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .kv-buttons .CTA {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .kv-image {
    margin: 0;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    width: calc(min(60vw, 250px));
    height: calc(min(60vw, 250px) + 70px);
  }
}

.nav-container {
  position: fixed;
  width: 100%;
  height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0100ca;
  z-index: 899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-wrapper {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links-container {
  margin-right: 30px;
}

.nav-links-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links-listItem {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.9px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  margin-left: 10px;
  padding: 10px 0;
}

.nav-links-listItem button {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-transform: inherit;
  white-space: inherit;
  cursor: inherit;
  -webkit-user-select: inherit;
     -moz-user-select: inherit;
      -ms-user-select: inherit;
          user-select: inherit;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.nav-links-listItem:after {
  content: "";
  height: 3px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 6px;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.nav-links-listItem:hover::after {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.nav-logo {
  font-size: 20px;
  color: #0100ca;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: white;
  font-weight: 600;
  border: 0 !important;
  margin-left: 0;
  height: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links-hamburger {
  display: none;
}

@media only screen and (max-width: 720px) {
  .nav-links-list {
    width: 70vw;
    max-width: 300px;
    height: calc(100vh - 43px);
    position: absolute;
    top: 43px;
    background-color: #0100ca;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 8;
    right: 0;
    -webkit-transform: translateX(115%);
            transform: translateX(115%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-box-shadow: inset 0 10px 20px rgba(9, 47, 44, 0.3), 0 6px 6px rgba(9, 4, 44, 0.68);
            box-shadow: inset 0 10px 20px rgba(9, 47, 44, 0.3), 0 6px 6px rgba(9, 4, 44, 0.68);
  }
  .nav-links-container {
    margin: 0;
  }
  .nav-links-listItem {
    height: 40px;
    width: 120px;
    margin-bottom: 9vh;
    border: none;
    border-bottom: 2px solid white;
  }
  .nav-links-listItem:first-of-type {
    margin-top: 15vh;
  }
  .links-list-display {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-links-hamburger {
    display: block;
    height: 43px;
    width: 43px;
    background-color: white;
  }
  .nav-links-hamburger img {
    height: 100%;
    width: 100%;
  }
  .nav-links-listItem:after {
    display: none;
  }
}

.webExample-tools-container {
  width: 100%;
}

.tools-wrapper, .tools-title, .tools-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.webExample-tools-wrapper {
  padding: 0 30px;
}

.webExample-tools-wrapper .tools-wrapper:first-of-type {
  padding-top: 0;
}

.tools-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details-badge {
  background-color: white;
  color: #5f5f5f;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 5px 0;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
}

.details-badge img {
  position: unset !important;
  height: 30px;
}

.details-badge span {
  white-space: nowrap;
  font-size: 12px;
  margin-top: 5px;
}

.details-badge_other {
  background-color: white;
  white-space: nowrap;
  height: 30px;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px;
  border: 1px solid #b6b6b6;
  padding: 0 10px;
  color: #363636;
}

.details-badge_other, .details-badge {
  font-weight: 600;
}

.details-badge-fullWidth {
  max-width: 80px;
  max-height: 45px;
}

.tools-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #bdbdbd;
  text-transform: uppercase;
  padding: 20px 0;
}

.tools-wrapper:last-of-type {
  border-bottom: 0;
}

.tools-items {
  min-width: 70%;
}

.tools-title {
  font-weight: 600;
  white-space: nowrap;
  width: 200px;
  margin-left: 20px;
}

@media only screen and (max-width: 720px) {
  .tools-title {
    margin-bottom: 20px;
    margin-left: unset;
  }
  .details-badge {
    margin: 0 3px 3px 0;
  }
  .details-badge img {
    height: 20px;
  }
  .details-badge-fullWidth {
    height: unset !important;
    max-height: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik' !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: #f9f9f9;
}

.headline {
  color: #413f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 30px;
  -webkit-box-shadow: 0px 19px 41px rgba(43, 43, 49, 0.15);
          box-shadow: 0px 19px 41px rgba(43, 43, 49, 0.15);
  margin-bottom: 30px;
}

main {
  overflow-x: hidden;
  height: calc(100% - 43px);
  scroll-behavior: smooth;
  margin-top: 43px;
  max-width: 1920px;
}

.section-wrapper {
  overflow: hidden;
  padding: 30px 0;
}

.CTA-contact {
  position: relative;
  font-weight: 600;
  background: white;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  border: 4px solid #00e676;
  -webkit-box-shadow: 0px 4px 9px rgba(43, 43, 49, 0.15);
          box-shadow: 0px 4px 9px rgba(43, 43, 49, 0.15);
  -webkit-transition: .3s all;
  transition: .3s all;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 15px;
  -webkit-box-ordinal-group: unset;
      -ms-flex-order: unset;
          order: unset;
}

.CTA-contact span, .CTA-contact a {
  padding: 12px 30px;
}

.CTA-contact input {
  display: none;
}

.CTA:hover {
  background-color: #00e676;
  color: white;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-box-shadow: 0px 6px 6px rgba(43, 43, 49, 0.4);
          box-shadow: 0px 6px 6px rgba(43, 43, 49, 0.4);
}

@-webkit-keyframes CTA-seemore {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  15% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes CTA-seemore {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  15% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.CTA-seemore {
  padding-right: 30px;
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.5;
}

.CTA-seemore-text {
  text-transform: uppercase;
  margin-bottom: 7px;
  cursor: pointer;
}

.CTA-seemore-line {
  width: 100%;
  border-bottom: 3px solid #1717ad;
  position: relative;
  z-index: -2;
}

.CTA-seemore-line::after {
  content: "";
  height: 12px;
  width: 12px;
  border-right: 3px solid #1717ad;
  border-bottom: 3px solid #1717ad;
  position: absolute;
  left: calc(50% - 6px);
  top: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f9f9f9;
  z-index: -1;
}

.about-container {
  min-height: calc(100vh - 80px);
}

.about-wrapper {
  padding: 30px;
  padding-top: 0;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-description {
  position: relative;
  max-width: 60ch;
  text-align: justify;
}

.about-description .CTA-contact {
  position: relative;
  margin: 30px 0 10px 0;
}

.about-image-wrapper {
  position: relative;
  height: 15vw;
  width: 15vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #1717ad;
  border: 2px solid #1717ad;
}

.about-image-wrapper img {
  border-radius: 999px;
  height: 100%;
  width: 100%;
}

.contact-container {
  min-height: calc(100% - 80px);
}

footer {
  height: 80px;
  width: 100%;
  background: #eeeeee;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

@media only screen and (max-width: 720px) {
  .section-wrapper {
    padding: 10px 0;
  }
  .CTA-seemore {
    display: none;
  }
  .about-wrapper {
    display: block;
    padding-bottom: 60px;
  }
  .about-wrapper p {
    max-width: 60ch;
  }
  .about-image-wrapper {
    height: 25vw;
    width: 25vw;
  }
  section {
    padding: 0;
  }
}

@media only screen and (max-width: 720px) {
  .headline {
    margin: 16px 0;
  }
}
/*# sourceMappingURL=index.css.map */