@import './consts';

@mixin card_primary{
    border-radius: 20px;
    margin: 5px;
    background-color: $BG_secondary;
}
@mixin  card_secondary{
    border-radius: 20px;
    background-color: $BG_secondary;
    margin: 10px;
}

@mixin card_noShadow{
    @include card_primary();
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
}