$accent_primary: #651fff;
$accent_primary_light: #651fff;
$accent_primary_dark: #0100ca;

$accent_secondary: #00e676;
$accent_secondary_light: #66ffa6;
$accent_secondary_dark: #00b248;

$BG_primary: #f9f9f9;
$BG_secondary: $accent_primary_light;
$BG_gray: #e5e5e5;

$text_secondary: #5f5f5f;

$border_primary: 3px solid $accent_primary_dark;
$border_secondary: 2px solid rgb(97, 97, 97);

$horizontal_primary: none;
$horizontal_secondary: 2px solid rgb(148, 148, 148);

$shadow_primary: 4px 10px 6px rgba(100, 100, 109, 0.1);

$marginLeft: 30px;
$marginRight: 30px;
$navHeight: 43px;
$headlineHeight: 50px;
$footerHeight: 80px;

@mixin centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin CTA{
    position: relative;
    font-weight: 600;
    background: white;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 4px solid $accent_secondary;
    box-shadow: 2px 6px 6px rgba(43, 43, 49, 0.3);
    transition: .3s all;

    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;

    order: 2;

    margin-bottom: 15px;
}

@mixin CTA_secondary{
    @include CTA;
    color: $text_secondary;
    box-shadow: none;
    border-color: $accent_primary_light;
    padding: 8px 18px;
    border-width: 3px;
    font-size: 14px;
    align-self: center;

    order: 1;
}

@mixin CTA_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}