@import './consts';

.kv-container{
    height: 100%;
    @include centered;
    position: relative;
    padding-left: 30px;

    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 100%;
    overflow: hidden;

}
.kv-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kv-text{
    white-space: nowrap;
    z-index: 1;
    h1{
        margin-bottom: 10px;
        font-size: 36px;
    }
    h3{
        margin-bottom: 30px;
        color: rgb(95, 95, 95);
    }
}
.kv-image{
    height: 100%;
    // width: 100%;
    width: 40%;
    margin-left: 140px;
    position: relative;
    top: 0;
    z-index: 0;
    align-items: center;

    display: flex;
    justify-content: center;

    // display: grid;
    // grid-template-columns: minmax(180px, 1fr) 1fr 65px;
}

@media only screen and (max-width: 801px){
    .kv-container{
        padding: 0;
    }
    .kv-wrapper{
        flex-direction: column;
        .CTA-contact{
            position: static;
        }
    }
    .kv-text{
        white-space: normal;
        flex: unset;
        margin-top: 4vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 2;
        h1{
            font-size: 32px;
        }
        h3{
            margin-bottom: 15px;
        }
    }
    .kv-image{
        margin: 0;
        flex: unset;
        grid-template-columns: unset;
        width: 250px;
        height: 320px;
    }
}