@import './consts';

$navHeight: 43px;

.nav-container{
    position: fixed;
    width: 100%;
    height: $navHeight;
    align-items: center;
    background-color: $accent_primary_dark;
    z-index: 899;

    display: flex;
    justify-content: center;
}
.nav-wrapper{
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
}
.nav-links-container{
    margin-right: $marginRight;
}
.nav-links-list{
    list-style: none;
    @include centered;
}
.nav-links-listItem{
    position: relative;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.9px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $marginRight / 2;
    margin-left: 10px;
    padding: 10px 0;
    button{
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        color: inherit;
        text-transform: inherit;
        white-space: inherit;
        cursor: inherit;
        user-select: inherit;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
    }
}
.nav-links-listItem:after{
    content: "";
    height: 3px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 6px;
    transform: translateX(-120%);
    transition-timing-function: ease-in-out;
}
.nav-links-listItem:hover::after{
    left: 0;
    transform: translateX(0);
    transition: transform 0.25s;
    transition-timing-function: ease-out;
    // border-bottom: 2px solid white;
}
.nav-logo{
    font-size: 20px;
    color: $accent_primary_dark;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: white;
    font-weight: 600;
    border: 0 !important;
    margin-left: 0;
    height: 100%;
    padding: 0 $marginLeft;
    @include centered;
}
.nav-links-hamburger{
    display: none;
}

@media only screen and (max-width: 720px){
    .nav-links-list{
        width: 70vw;
        max-width: 300px;
        height: calc(100vh - #{$navHeight});
        position: absolute;
        top: $navHeight;
        background-color: $accent_primary_dark;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 8;
        right: 0;
        transform: translateX(115%);
        transition: transform 0.2s;
        box-shadow: inset 0 10px 20px rgba(9, 47, 44, 0.3), 0 6px 6px rgba(9, 4, 44, 0.68);
    }
    .nav-links-container{
        margin: 0;
    }
    .nav-links-listItem{
        height: 40px;
        width: 120px;
        margin-bottom: 9vh;
        border: none;
        border-bottom: 2px solid white;
    }
    .nav-links-listItem:first-of-type{
        margin-top: 15vh;
    }
    .links-list-display{
        
        transform: translateX(0);
    }
    .nav-links-hamburger{
        display:block;
        height: $navHeight;
        width: $navHeight;
        background-color: white;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .nav-links-listItem:after{
        display: none;
    }
}

